<%= render 'partials/cancel_account_modal' %>

<h2 class="text-center">Profile details</h2>

<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="card shadow mb-4" style="max-height: 832px">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Account</h6>
      </div>
      <div class="card-body" style="height: 810px">
	    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	      <%= render "devise/shared/error_messages", resource: resource %>

	      <div class="field">
		    <%= f.label :email %><br />
	  	    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	      </div>

	      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	      <% end %>

	      <div class="field">
		    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
		    <%= f.password_field :password, autocomplete: "new-password" %>
		    <% if @minimum_password_length %>
		      <br />
		      <em><%= @minimum_password_length %> characters minimum</em>
		    <% end %>
	      </div>

	      <div class="field">
		    <%= f.label :password_confirmation %><br />
	  	    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
	      </div>

	      <div class="field">
		    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		    <%= f.password_field :current_password, autocomplete: "current-password" %>
	      </div>

	      <div class="actions">
		    <%= f.submit "Update", :class => "btn btn-secondary" %>
	      </div>
		  <button href="#" data-target="#cancelAccountModal" data-toggle="modal" class='btn btn-secondary text-white' type='button'>Cancel my account</button>
	    <% end %>
	  </div>
	</div>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card shadow mb-4" style="max-height: 832px">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Your device</h6>
      </div>
      <div class="card-body" style="height: 100%">
	    <div class="row">
		  <% if !@current_user.device.nil? %>
		    <div class="col-lg-6 mb-4 text-center">
		      <div class="text-xs font-weight-bold text-dark mb-1">Registered device: </div>
		      <%= @current_user.device.dispid %>
			</div>
			<div class="col-lg-6 mb-4 text-center">
			  <a class="btn btn-secondary text-white" data-method="get" href="<%= edit_device_path(current_user.device) %>">Change associated device</a>
			</div>
		  <% else %>
		    <%= link_to 'Register your device', new_device_path, method: :get %>
		  <% end %>
	    </div>
		
	    <div class="row justify-content-center">
	      <% if !current_user.device.nil? %>
		    <% if !@current_user.synched %>
			  <div class="col-lg-6 mb-4 text-center">
		        <u1 class="text-xs font-weight-bold mb-1 text-danger">Device not synchronized</u1>
			  </div>
			  <div class="col-lg-6 mb-4 text-center text-white">
			    <a class="btn btn-secondary" data-method="patch" href="/synch">Synchronize device</a>
			  </div>
		    <% else %>
		      <u1 class="text-xs font-weight-bold mb-1 text-success">Synchronized</u1>
		    <% end %>
	      <% end %>
	    </div>
	  </div>
	  <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Your contacts</h6>
      </div>
	  <div class="card-body" style="height: 810px">
	    <div class="row justify-content-center">
	      <% if current_user.contacts.length() == 0 %>
		    <div class="text-xs font-weight-bold text-dark mb-1">You don't have any contacts registered</div>
	      <% else %>
		    <div style="max-height: 710px; width: 100%;">
		      <table class="table table-striped">
			    <thead>
				  <tr>
				    <th>First name</th>
				    <th>Last name</th>
				    <th>Cellphone</th>
				  </tr>
			    </thead>

			    <tbody>
				  <% current_user.contacts.each do |contact| %>
				    <tr>
					  <td><%= contact.fname %></td>
					  <td><%= contact.lname %></td>
					  <td><%= contact.cellphone %></td>
				    </tr>
				  <% end %>
			    </tbody>
			  </table>
			</div>		
		  <% end %>
		</div>
		<div class="row justify-content-center">
		  <%= link_to 'Manage contacts', '/contacts?stype=prof', method: :get %>
	    </div>
	  </div>
	</div>
  </div>
</div>