<h1>Update the ID of your registered device</h1>

<% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being updated:</h2>

      <ul>
        <% @device.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: @device, local: true) do |f| %>
	<p>
		<%= f.text_field :dispid %><br>
	</p>
	<p>
		<%= f.submit 'Update' %><br>
	</p>
<% end %>

<%= link_to 'Back to profile', edit_user_registration_path %>
