<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">
  <!-- Topbar Navbar -->
  <h6 class='text-white-75 font-weight-light'> 
  Danger Device and Detection System
  </h6>
  <ul class="navbar-nav ml-auto">
    <!-- not needed
	<!-- Nav Item - Alerts
    <li class="nav-item dropdown no-arrow mx-1">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="alertsDropdown" role="button">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts
        <span class="badge badge-danger badge-counter">0</span>
      </a>
      <!-- Dropdown - Alerts
      <div aria-labelledby="alertsDropdown" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
        <h6 class="dropdown-header">
          Alerts Center
        </h6>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="mr-3">
            <div class="icon-circle bg-primary">
              <i class="fas fa-file-alt text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">
              Logged in:
            </div>
            <span class="font-weight-bold">
              <%= DateTime.current.to_date %>
            </span>
          </div>
        </a>
        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
      </div>
    </li>
    <!-- Nav Item - Messages
    <li class="nav-item dropdown no-arrow mx-1">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="messagesDropdown" role="button">
        <i class="fas fa-envelope fa-fw"></i>
        <!-- Counter - Messages
        <span class="badge badge-danger badge-counter">1</span>
      </a>
      <!-- Dropdown - Messages
      <div aria-labelledby="messagesDropdown" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
        <h6 class="dropdown-header">
          Message Center
        </h6>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="dropdown-list-image mr-3">
            <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60"/>
            <div class="status-indicator bg-success"></div>
          </div>
          <div class="font-weight-bold">
            <div class="text-truncate">This is your new account</div>
            <div class="small text-gray-500">Administrator </div>
            <%= DateTime.current.to_date %>
          </div>
        </a>
        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
      </div>
    </li>
    <div class="topbar-divider d-none d-sm-block"></div>
	-->
	<!-- Nav Items -->
	<div class="d-flex flex-row bd-highlight mb-3">
	  <div class="topbar-divider d-none d-sm-block"></div>

	  <div class="p-2 bd-highlight align-middle">
		<li class="nav-item">
		  <%= link_to "Home", root_path, method: :get %>
		</li>
	  </div>
		
	  <% if current_user.admin %>
		<div class="topbar-divider d-none d-sm-block"></div>
		
		<div class="p-2 bd-highlight align-middle">
		  <li class="nav-item">
		    <%= link_to "Admin Devices", admin_devices_path, method: :get %>
		  </li>
		</div>
	  <% end %>
		
	  <% if !current_user.device.nil? %>
		<div class="topbar-divider d-none d-sm-block"></div>
		   
		<div class="p-2 bd-highlight align-items-center">
		  <li class="nav-item">
		    <%= link_to "Contacts", contacts_path, method: :get %>
		  </li>
		</div>
			
		<div class="topbar-divider d-none d-sm-block"></div>
			
		<div class="p-2 bd-highlight align-middle">
		  <li class="nav-item">
		    <%= link_to "My emergencies details", "/emergencies?stype=home", method: :get %>
		  </li>
		</div>
	  <% end %>
	  <!-- Nav Item - User Information -->
	  <div class="topbar-divider d-none d-sm-block"></div>
	  <div class="p-2 bd-highlight align-middle">
	    <li class="nav-item dropdown no-arrow">
	      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="userDropdown" role="button">
		    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
		      <%= current_user.email %>
		    </span>
		  </a>
		  <!-- Dropdown - User Information -->
		  <div aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
		    <a class="dropdown-item" href="<%= edit_user_registration_path %>">
		  	  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
			  Profile
		    </a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#">
			  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
		      Logout
		    </a>
		  </div>
	    </li>
	  </div>
	</div>
  </ul>
</nav>
<!-- End of Topbar -->
