<p id="notice"><%= notice %></p>
<!-- TODO style this view -->

<h1>Emergencies</h1>

<table>
  <thead>
    <tr>
      <th>Registered at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emergencies.each do |emergency| %>
      <tr>
        <td><%= emergency.created_at %></td>
		<td><%= link_to 'Locations', emergency_locations_path(emergency.id, @stype) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if (@stype == 'prof') %>
	<%= link_to 'Back to profile', edit_user_registration_path %>
<% elsif (@stype == 'home') %>
	<%= link_to 'Home', root_path, method: :get %>
<% end %>