<p id="notice"><%= notice %></p>

<h1>Emergencies</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Registered at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emergencies.each do |emergency| %>
      <tr>
        <td><%= emergency.id %></td>
        <td><%= emergency.created_at %></td>
        <td><%= link_to 'Locations', emergency_locations_path(emergency.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to profile', edit_user_registration_path %>
