<!-- 
	COMMENT, TODO: delete this comment
	<h1>Homepage</h1>
	<% if current_user %>
		<p>Signed in as: <%= current_user.email %></p>
		<%= link_to   'Profile', edit_user_registration_path, method: :get %>
		<% if current_user.device.nil? %>
			<%= link_to 'Register your device', new_device_path, method: :get %>
		<% end %>
		<div class="field">
			<%= link_to "All emergencies", '/emergencies?all=true', method: :get%>
		</div>
		<%= button_to 'Log out', destroy_user_session_path, method: :delete %>

		<% if current_user.admin %>
			<%= link_to 'admin_devices', admin_devices_path %>
		<% end %>
	<% else %>
		<%= button_to 'Register', new_user_registration_path, method: :get %>
		<%= button_to 'Log in', new_user_session_path, method: :get %>
	<% end %>
-->

<% if current_user %>
  <%= render "landing/home_logged" %>
<% else %>
  <%= render "landing/home_not_logged" %>
<% end %>
