<%= form_with(model: contact, local: true) do |form| %>
  <div class="row d-flex justify-content-center">
    <div class="col-md-3 text-center">
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
          <% contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	</div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-3 text-center">
      <div class="card shadow h-100 py-2">
        <div class="card-body w-100">

		  <div class="row d-flex no-gutters align-items-center">
		    <div class="col-6 h6 text-left">
			   <%= form.label :fname %>
			</div>
			<div class="col-6">
			  <%= form.text_field :fname %>
			</div>
		  </div>

		  <div class="row d-flex no-gutters align-items-center">
		    <div class="col-6 h6 text-left">
			  <%= form.label :lname %>
			</div>
			<div class="col-6">
			  <%= form.text_field :lname %>
			</div>
		  </div>

		  <div class="row d-flex no-gutters align-items-center">
		    <div class="col-6 h6 text-left">
			  <%= form.label :cellphone %>
			</div>
			<div class="col-6">
			  <%= form.text_field :cellphone %>
			</div>
		  </div>
		  
		  <div class="actions row d-flex justify-content-center">
		    <div class="col-md-3">
			  <%= form.submit "Register", :class => "btn btn-secondary" %>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
<% end %>
