<h1 class="text-center">Your contacts</h1>
<br /><br />
<p id="notice"><%= notice %></p>

<div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <div class="card shadow h-100 py-2">
      <div class="card-body w-100">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>First name</th>
			  <th>Last name</th>
			  <th>Cellphone</th>
			  <th>Registration date</th>
			  <th>Last update date</th>
			  <th>Options</th>
			</tr>
		  </thead>

		  <tbody>
			<% @contacts.each do |contact| %>
			  <tr>
				<td><%= contact.fname %></td>
				<td><%= contact.lname %></td>
				<td><%= contact.cellphone %></td>
				<td><%= contact.created_at %></td>
				<td><%= contact.updated_at %></td>
				<td>
				  <div class="row justify-content-center">
				    <div class="col-sm-3 mb-4">
				      <%= link_to 'Edit', edit_contact_path(contact) %>
					</div>
					<div class="col-sm-6 mb-4">
  				      <a href="#" data-target="#contactDeletionModal" data-toggle="modal">Delete</a>
					  <%= render 'partials/contact_deletion_modal', contact: contact %>
					</div>
				  </div>
				</td>
			  </tr>
			<% end %>
		  </tbody>
		</table>

		<% if current_user.contacts.count < 5 %>
		  <div class="row justify-content-center">
			<a href="<%= new_contact_path %>" class='btn btn-secondary text-white' type='button'>Register new contact</a>
		  </div>
		<% end %>
		<% if @stype=='prof' %>
		  <%= link_to 'Back to profile', edit_user_registration_path %>
		<% end %>
	  </div>	
	</div>
  </div>
</div>
<br />