<!-- TODO: add blurred image as bg -->

<br /><br /><br />
<h2 class="text-center">Log in</h2>
<br /><br /><br />

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row d-flex justify-content-center">
    <div class="col-md-3 text-center">
	  <div class="card shadow h-100 py-2">
	    <div class="card-body w-100">
	
          <div class="row d-flex no-gutters align-items-center">
		    <div class="col-6 h6 text-left">
              <%= f.label :email %><br />
			</div>
			<div class="col-6">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			</div>
          </div>

          <div class="row d-flex no-gutters align-items-center">
		    <div class="col-6 h6 text-left">
              <%= f.label :password %><br />
			</div>
			<div class="col-6">
              <%= f.password_field :password, autocomplete: "current-password" %>
			</div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="row d-flex no-gutters align-items-center">
			  <div class="col-1 justify-content-center">
                <%= f.check_box :remember_me %>
              </div>
			  <div class="col-3 justify-content-center">
			    <%= f.label :remember_me %>
			  </div>
            </div>
          <% end %>

          <div class="actions row justify-content-center">
            <%= f.submit "Log in", :class => "btn btn-secondary" %>
          </div>
	    </div>
	  </div>
    </div>
  </div>
  
<% end %>

<div class="actions row d-flex justify-content-center">
  <div class="col-md-3">
	<%= render "devise/shared/links" %>
  </div>
</div>
