<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Registered at</th>
      <th>Latitude</th>
      <th>Longitude</th>
	  <th>Neighborhood</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= location.created_at %></td>
        <td><%= location.lat %></td>
        <td><%= location.long %></td>
        <td><%= location.neighborhood.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if (@all == 'false') %>
	<%= link_to 'Back', '/emergencies?all=false' %>
<% elsif (@all == 'true') %>
	<%= link_to 'Back', '/emergencies?all=true' %>
<% end %>