<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- BOOTSTRAP -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <title><%= content_for?(:title) ? yield(:title) : "DDDS" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Danger Detection Device and System" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag get_google_api_req %>
	<% if current_user %>
      <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper" class="container-fluid">
		  <div class="row">
		    <div class="col-sm">
		      <%= render 'partials/sidebar' %>
			</div>
          </div>
		  <div class="row">
		    <div class="col-sm">
		      <div class="d-flex flex-column col-sm" id="content-wrapper">
                <!-- Main Content -->
                <div id="content">
                  <%= render 'partials/topbar' %>
                  <%= render 'partials/logout_modal' %>
                  <!-- Content of each page goes here goes here -->
                  <div class="container-fluid">
                    <%= yield %>
                  </div>
                </div>
                <%= render 'partials/footer' %>
              </div>
		    </div>
		  </div>
        </div>
      </body>
    <% else %>
      <%= yield	   %>
    <% end %>
  </head>
</html>

